<div class="container">

    <form action="../admin/admin-account" method="post">
        <div class="row col-lg-offset-2">
            <h3 style="color: orangered"> Add admin user account </h3>

            <div class="row">
                <div class="form-group col-md-4">
                    First name
                    <input type="text" class="form-control" name="firstName">
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-4">
                    Last name
                    <input type="text" class="form-control" name="lastName">
                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-4">
                    Email (this is your username)
                    <input type="email" class="form-control" name="email">
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-4">
                    Password
                    <input type="password" class="form-control" name="password">
                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-4">
                    Duty
                    <select  class="form-control" name="duty">

                        <option>select duty</option>
                        <option>Accountant</option>
                        <option>Marketer</option>
                        <option>Manager</option>
                        <option>HR</option>

                    </select>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-4">
                    Is Admin
                    <input type="checkbox" class="form-control" name="isAdmin">
                </div>
            </div>


            <div class="row">

                <div class="col-md-2">
                    <input type="submit" class="btn btn-md" style="background-color: orangered; color: white" value="Create account" name="submit">
                </div>
                <a href="/admin/admin-login" class="glyphicon glyphicon-log-in btn" style="background-color: orangered; color: #ffffff;"> Login</a>
            </div>
        </div>

        <br><br><br>

    </form>
</div>
