


<div class="row">
    <form action="" method="post">
    <div class="col-lg-10">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search and manage products  e.g (by color, title or category)">
            <span class="input-group-btn">
        <button class="btn btn-orange" type="button">Search product</button>
      </span>
        </div>
    </div>
    </form>
</div>
