
<div class="container">
    <h3 style="color: orangered"> {{ title }} </h3>
<div class="row">
    <form action="" method="post">
    <div class="col-lg-8">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search e.g (by color, title or category)">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search product</button>
      </span>
        </div>
    </div>
    </form>
</div>
    </div>