

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-danger-side list-group-class-title"> Users</a>
    <a href="/admin/admin-user" class="list-group-item list-group-class">Add new users</a>
    <a href="#" class="list-group-item list-group-class">Edit users</a>

    <a href="#" class="list-group-item list-group-item-danger-side list-group-class-title"> Products</a>
    <a href="/admin/add-products" class="list-group-item list-group-class">Add new products</a>
    <a href="/admin/all-products" class="list-group-item list-group-class">Manage products</a>

    <a href="#" class="list-group-item list-group-item-class"></a>
    <a href="#" class="list-group-item list-group-item-danger-side list-group-class-title">Clients</a>
    <a href="/admin/clients" class="list-group-item list-group-class">Clients information</a>
    <a href="/admin/clients-orders" class="list-group-item list-group-class">Clients orders</a>
</div>