<footer>
    <div class="footer">
        <div style="background-color: orangered; height: 10px" class="row"></div>
        <div class="row col-lg-offset-5">
            <address>
                <h3>Contact Us:</h3>

                <p>No 23/333/444, Anthony Way- Lagos, Nigeria</p>
                <i class=" glyphicon glyphicon-phone"> Phone:  + 234- 555-666-7777</i><br>
                <i class=" glyphicon glyphicon-envelope"> Email:  bola-bola@onlineboutique.com</i>
            </address>

            <div class="col-md-3"></div>
        </div>
        <div style="background-color: orangered; height: 10px" class="row"></div>
    </div>
</footer>