<div class="container">
<div class="row">
    <div class="col-md-4 menu"> {{ title }}</div>
    <div class="col-md-3 col-md-offset-1">
        <span class="fa fa-phone"> +01-111-222- 3333. No. 225, Yaba Express Way, Lagos -Nigeria.</span></div>
</div>
</div>
<nav class="navbar special">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Category <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"> for men </a></li>
                        <li><a href="#"> for women </a></li>
                        <li><a href="#"> for kids </a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder=" search product ">
                </div>

                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/cart/cart-items" >
                    <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
                    <span class="badge"> {{ session.cart.totalQty}}</span> item(s)
                </a>
            </li>


              <ul class="nav navbar-nav">
                  <li class="dropdown"><a class="dropdown-toggle  glyphicon glyphicon-user" data-toggle="dropdown" href="#"> Account Management <span class="caret"></span></a>
                      <ul class="dropdown-menu">
            {{#if user}}
                          <li><a href="/users/user-profile"><span class="glyphicon glyphicon-user"></span> User account</a></li>
                          <li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {{else}}
                          <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                          <li><a href="/users/sign-up"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                          <li><a href="/admin/admin-login"><span class="glyphicon glyphicon-lock"></span> Admin </a></li>
            {{/if}}
                      </ul>
                      </ul>
              </ul>
        </div>
    </div>
</nav>















