<nav class="navbar" style="background-color: chocolate">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: #ffffff">Online Boutique</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Category <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"> for men </a></li>
                        <li><a href="#"> for women </a></li>
                        <li><a href="#"> for kids </a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder=" search product ">
                </div>

                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/cart/cart-items" ><span class="glyphicon glyphicon-shopping-cart"></span> </a></li>

                <ul class="nav navbar-nav">

                    <li class="dropdown"><a class="dropdown-toggle  glyphicon glyphicon-user" data-toggle="dropdown" href="#"> Users Management  <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/users/sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            <li><a href="/admin/admin-login"><span class="glyphicon glyphicon-lock"></span> Admin </a></li>
                            <li><a href="/pay/payment"><span class="glyphicon glyphicon-lock"></span> check out </a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>















