<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
               <h4>Men wears</h4>
            </li>
            <li>
                <h5> <a href="#">Jeans</a> </h5>
            </li>
            <li>
               <h5> <a href="#">Jackets</a> </h5>
            </li>
            <li>
                <h5> <a href="#"> foot wears </a> </h5>
            </li>
            <li class="sidebar-brand">
                <h4>Women wears</h4>
            </li>
            </li>
            <li>
                <h5> <a href="#"> Blouse</a> </h5>
            </li>
            <li>
                <h5> <a href="#">Undies</a> </h5>
            </li>
            <li>
                <h5> <a href="#">foot wears</a> </h5>
            </li>

            <li class="sidebar-brand">
                <h4>Kids wears</h4>
            </li>
            <li>
                <h5> <a href="#">foot wears</a> </h5>
            </li>
            <li>
                <h5> <a href="#"> Jackets </a> </h5>
            </li>
            <li>
                <h5> <a href="#"> Shirts</a> </h5>
            </li>
        </ul>
    </div>
    </div>