

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-danger-side list-group-class-title">For Men</a>
    <a href="#" class="list-group-item list-group-class">Suits</a>
    <a href="#" class="list-group-item list-group-class">Foot wears</a>
    <a href="#" class="list-group-item list-group-class">Trousers</a>
    <a href="#" class="list-group-item list-group-item-danger-side list-group-class-title">For Ladies</a>
    <a href="#" class="list-group-item list-group-class">Blouse</a>
    <a href="#" class="list-group-item list-group-class">Jewelleries</a>
    <a href="#" class="list-group-item list-group-class">Shoes</a>
    <a href="#" class="list-group-item list-group-item-class"></a>
    <a href="#" class="list-group-item list-group-item-danger-side list-group-class-title">For kids</a>
    <a href="#" class="list-group-item list-group-class">Foot wears</a>
    <a href="#" class="list-group-item list-group-class">Jacket</a>
    <a href="#" class="list-group-item list-group-class">Shirts</a>
</div>