

   <div class="row">
    <div class="row" style="background-color: lightgray; border-radius: 10px 10px 0px 0px">
        <div class="col-md-4"> <h4> Products</h4></div>
        <div class="col-md-2"> <h4> Color</h4></div>
        <div class="col-md-2"> <h4> Size</h4></div>
        <div class="col-md-2"> <h4> Quantity</h4></div>
        <div class="col-md-2"> <h4> Price</h4></div>
    </div>
    <hr>

    <div class="row" style="background-color: lightgray">
        <div class="col-md-4">Girls Wears</div>
        <div class="col-md-2">Blue</div>
        <div class="col-md-2">Large</div>
        <div class="col-md-2">5</div>
        <div class="col-md-2">$5000</div>
    </div>

   </div> <hr>
    <br><br>

   <div class="row">
       <div class="list-group col-md-4">
           <a href="#" class="list-group-item" style="background-color: orangered; color: white">
               Proceed to checkout
           </a>
           <a class="list-group-item"> Total price : {{ price }}</a>
           <a class="list-group-item"> Total item (s) : {{ price }}</a>

       </div>


   </div>


