

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <div class="row col-md-offset-1">
        <span class="payment-errors alert-danger "></span>
        <h3> Personal Information <span class="badge"> Total amount : $ {{ totalPrice }} </span> </h3>

        <div class="col-xs-12 col-md-7">

            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">

                <div class="panel-body">
                    <form role="form" id="payment-form" method="POST" action="./checkout">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <div class="input-group">
                                        <input type="text" id="fname" class="form-control" name="firstname" placeholder="first name"  required autofocus/>
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="firstName">Last Name</label>
                                    <div class="input-group">
                                        <input type="text" id="lname" class="form-control" name="lastname" placeholder="last name"  required autofocus/>
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <div class="input-group">
                                        <input type="text" id="address" class="form-control" name="address" placeholder="Address"  required autofocus/>
                                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel-heading display-table" >
                            <div class="row display-tr" >
                                <h3>Card Information</h3>
                                <div class="display-td" >
                                    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardName">Card Name</label>
                                    <div class="input-group">
                                        <input type="text" id="cName" class="form-control" name="cardName" placeholder=" name  on your card"  required autofocus/>
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="number" id="cNumber" class="form-control" name="cardNumber" placeholder="Valid Card Number" data-stripe="number" required autofocus/>
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-5 col-md-6 pull-left">
                                <div class="form-group">
                                    <label for="month">Month</label>
                                    <input type="number" class="form-control" id="exp_month" data-stripe="exp_month" name="cardCVC" placeholder="MM" required/>
                                </div>
                            </div>

                            <div class="col-xs-5 col-md-6 pull-right">
                                <div class="form-group">
                                    <label for="year">Year</label>
                                    <input type="number" class="form-control" id="exp_year" name="cardCVC" data-stripe="exp_year" placeholder="YYYY" required/>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CV Code</label>
                                    <div class="input-group">
                                        <input type="number" id="cvc" class="form-control" name="cvCode" placeholder=" enter cv code" data-stripe="cvc" required autofocus/>
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">

                                <button type="submit" class=" btn btn-orange btn-md btn-block submit">
                                    Finish payment
                                </button>
                            </div>
                        </div>

                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>

                    </form>
                     </div>
            </div>
            <!-- CREDIT CARD FORM ENDS HERE -->
        </div>
    </div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="/js/checkout.js"></script>
