
<p>Welcome to {{title}}</p>


    <div  style="padding-top:20px">
        {{#each products}}
        <div class="row">
                <div class="col-sm-6 col-md-3 home-grid grow">
                    <div class="thumbnail ">
                        <a href="/product-details">
                            <img src="{{ products.productImage }}" class="img zoom-img" alt="...">
                        </a>
                        <div class="caption">
                            <h4 class="liz">{{ products.title }}</h4>


                            <div class="home-product-bottom">
                                <h4><a href="/cart/add-to-cart">Add to cart</a></h4>
                            </div>
                            <div class="srch">
                                <span> ${{ products.price }}</span>
                            </div>

                        </div>
                    </div>
                </div>

        </div>
        {{/each}}
    </div>

<hr>
